
E:\temp\mizuho_chan.bin
Part_num    : CP2103
VID         : 10C4
PID         : EA60
Lock        : False

Description = CP2103_miniprog
Max_Power   = 100

IO.Mode    = 1100001101010100
IO.Reset   = 0000110011111111
IO.Suspend = 0000111111111111
IO.EnhFxn  = 10

Serial      = MINIPROG_03
Version     = 01.00
